<ul class="listItems">
    {{#notes}}
    <li class="item" data-id="{{id}}">
        <a href="#">
            <h2 id="title">{{title}}</h2>
            <p id="text">{{text}}</p>
            <div class="author" title="author">{{author}}</div>
            <div class="deadline" title="deadline">{{deadline}}</div>
        </a>
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </li>
    {{/notes}}
<!--	<li class="item" data-id="note_id">
        <a href="#">
            <h2 id="title">Note Title#2</h2>
            <p id="text">Note Text#2</p>
            <div class="author" title="author">Author2</div>
            <div class="deadline" title="deadline">02-02-1990</div>
        </a>
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </li>-->
</ul>
<div id="pagination"></div>