body {
  background-color: #EBEBEB;
  margin: 0; }
  body #wrapper {
    font: 13px Tahoma, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto; }
    body #wrapper input, body #wrapper select {
      border: 1px solid #ccc;
      border-radius: 2px;
      height: 25px;
      line-height: 25px;
      padding-left: 5px;
      margin: 5px 0; }
    body #wrapper label {
      display: block;
      font-size: 10px; }
    body #wrapper > header {
      background-color: #F1F1F1;
      border-bottom: 1px dashed #C4C4C4; }
      body #wrapper > header h1 {
        font-size: 28px;
        color: #31A3DF;
        margin-top: 0;
        padding-top: 20px;
        padding-left: 10px;
        font-weight: normal; }
    body #wrapper header h4 {
      font-size: 16px; }
    body #wrapper section {
      border-bottom: 1px dashed #C4C4C4;
      padding: 15px; }
      body #wrapper section:after {
        content: "";
        clear: both;
        display: block;
        height: 0px;
        zoom: 1; }
      body #wrapper section p {
        width: 570px;
        float: left; }
      body #wrapper section .search {
        width: 180px;
        float: left;
        position: relative; }
        body #wrapper section .search label {
          display: block;
          font-weight: bold; }
        body #wrapper section .search button {
          margin: 0;
          padding: 0;
          border: none;
          background: none;
          cursor: pointer;
          position: absolute;
          right: 6px;
          top: 20px; }
          body #wrapper section .search button img {
            width: 20px; }
      body #wrapper section .left {
        float: left;
        width: 200px; }
      body #wrapper section .right {
        float: right;
        width: 570px; }
        body #wrapper section .right div {
          display: inline-block;
          box-sizing: border-box; }
          body #wrapper section .right div .select-room {
            width: 69%; }
            body #wrapper section .right div .select-room select {
              width: 95%; }
          body #wrapper section .right div .rooms {
            width: 30%; }
            body #wrapper section .right div .rooms input {
              width: 88%; }
          body #wrapper section .right div .date {
            width: 49%; }
            body #wrapper section .right div .date input {
              width: 95%; }
    body #wrapper > button {
      float: right;
      margin-top: 15px;
      width: 100px;
      height: 30px;
      color: #fff;
      background-color: #32A2E4;
      border: 0;
      border-radius: 2px;
      cursor: pointer; }

