#wrapper {
    padding-right: 30px;
    padding-left: 30px;
}

@media all and (max-width: 1200px) {
    header > h1 {
        font-size: 4em;
        line-height: 0.5em;
    }

    header > p {
        color: #f26013;
    }

    header > nav {
        width: 100%;
    }

        header > nav > ul {
            margin-top: 3.4em;
        }

    header nav > ul li {
        width: 20%;
    }

    main section {
        padding-right: 30px;
    }

    main aside {
        width: 94%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    footer p {
        margin: 30px auto;
        text-align: center;
    }
}

@media all and (max-width: 730px) {
    article:after {
        content: '';
        display: block;
        clear: both;
    }

    div:after {
        content: '';
        display: block;
        clear: both;
    }

    header {
        border-bottom: none;
    }
    header h1 {
        padding-top: 0.1em;
    }

    header p {
        font-size: 1.5em;
        margin: 1em auto;
    }

    header > nav > ul {
        margin-top: 0;
    }

    header nav > ul li {
        width: 100%;
    }

    header:after {
        content: '';
        display: block;
        clear: both;
    }

    main {
        float: left;
        margin-bottom: 30px;
    }

        main section {
            float: none;
        }

            main section > div {
                height: auto;
            }

                main section > div > div {
                    width: 100%;
                    background-color: #BACD8B;
                }

        main > section > div:nth-child(1) > div {
            background-repeat: no-repeat;
            background-position-x: center;
            margin-bottom: 15px;
        }

        main > section > div:nth-child(2) > div {
            background-repeat: no-repeat;
            background-position-x: center;
            margin-bottom: 15px;
        }

        main > section > div:nth-child(3) > div {
            background-repeat: no-repeat;
            background-position-x: center;
            margin-bottom: 15px;
        }

        main > section > div > article > h3 {
            margin-top: 20px;
            text-align: center;
        }

        main aside {
            width: 90%;
        }

        main > aside > article > h1 {
            text-align: center;
        }

        main > aside > article > h2 {
            text-align: center;
        }

        main:after {
            content: '';
            display: block;
            clear: both;
        }
}
