<div class="jumbotron" ng-controller="ProjectController">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Lead Name</th>
            <th>Priorities</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in allProjetcs.Projects">
            <td>
                {{obj.Id}}
            </td>
            <td>
                <a href="#/projects/{{obj.Id}}">{{obj.Name}}</a>
            </td>
            <td class="col-lg-4">
                {{obj.Description | limitTo: 100: begin}}
            </td>
            <td>
                {{obj.Lead.Username}}
            </td>
            <td>
                <span ng-repeat="prior in obj.Priorities">{{prior.Name}}, </span>
            </td>
        </tr>
        </tbody>
    </table>
    <uib-pagination ng-if="allProjetcs.TotalPages > 1" total-items="allProjetcs.TotalPages" ng-model="prjParams.pageNumber"
                    items-per-page="prjParams.pageSize" ng-change="reloadProjects()"
                    max-size="9" boundary-links="true" template-url="app/views/pagination.html">
    </uib-pagination>
</div>