<div class="jumbotron row col-md-4">
    <h2 class="title">Projects</h2>
    <table class="table table-striped table-hover" ng-if="myProjetcs.TotalCount > 0">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in myProjetcs.Projects">
            <td>
                <a href="#/projects/{{obj.Id}}">{{obj.Name}}</a>
            </td>
        </tr>
        </tbody>
    </table>
    <uib-pagination ng-if="myProjetcs.TotalPages > 1" total-items="myProjetcs.TotalPages" ng-model="prjParams.pageNumber"
                    items-per-page="prjParams.pageSize" ng-change="reloadProject()"
                    max-size="9" boundary-links="true" template-url="app/views/pagination.html">
    </uib-pagination>

    <div ng-if="myProjetcs.TotalCount === 0">
        <h3>No data !</h3>
    </div>
</div>
<div class="jumbotron row col-md-7 col-md-offset-1">
    <h2 class="title">Issues</h2>
    <table class="table table-striped table-hover" ng-if="myIssues.TotalCount > 0">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Project</th>
            <th>Due Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in myIssues.Issues">
            <td>
                <a href="#/issues/{{obj.Id}}">{{obj.Title}}</a>
            </td>
            <td>
                {{obj.Description}}
            </td>
            <td>
                <a href="#/projects/{{obj.Project.Id}}">{{obj.Project.Name}}</a>
            </td>
            <td>
                {{obj.DueDate}}
            </td>
        </tr>
        </tbody>
    </table>
    <uib-pagination ng-if="myIssues.TotalPages > 1" total-items="myIssues.TotalPages" ng-model="issParams.pageNumber"
                    items-per-page="issParams.pageSize" ng-change="reloadIssue()"
                    max-size="9" boundary-links="true" template-url="app/views/pagination.html">
    </uib-pagination>

    <div ng-if="myIssues.TotalCount === 0">
        <h3>No data !</h3>
    </div>
</div>