body {
    background-image: url("../Resources/Images/background.jpg");

    main {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        width: 800px;
        background-color: rgba(212,226,237,0.8);
        margin: 0 auto;
        border-radius: 20px;

        header {
            nav {
                width: 100%;

                ul {
                    list-style: none;

                    li {
                        display: inline;
                        text-align: center;
                        width: 24%;
                        padding-top: 20px;
                        float: left;

                        a {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
