#wrapper {
    width: 745px;
    height: 440px;
    background-color:  lightblue;
    font-size: 18px;
    padding-left: 20px;
    margin: 0px;
    color: grey;
    font-family: Tahoma,sans-serif;
    margin: 0px auto;
}
fieldset > label {
    text-transform: uppercase;
    font-weight: bold;
}
.darkblue  {
    color: darkblue;
}
input {
    display: block;
    width: 100%;
    height: 35px;
    margin: 5px 0px;
    text-indent: 5px;
}
input[type="submit"] {
    display: inline-block;
    float: right;
    font-size: 1.1em;
    margin-right: -6px;
}
input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
}
.submit-button {
    width: 50%;
    border: 2px solid;
}
.login-button {
    width: 45%;
    border: 2px solid #E3910D;
    background-color: #234465;
    color: white;
}
h1 {
    color: black;
    padding-top: 10px;
}
fieldset {
    border: none;
}
form {
    display: inline-block;
    width: 350px;
    height: 290px;
    padding: 5px;
}

form.form-register {
    float: left;
}
form.form-login{
    float: right;
    background-color: #234465;
    float: right;
    margin: 0 20px 0 5px;
}
form.form-login label {
    color: white;
}
table {
    display: inline-block;
}
table label {
    font-size: 0.8em;
    margin-left: 5px;
}
#forgot-pass {
    float:right;
    text-align: right;
}
a{
    color: white;
    margin: 8px;
}